<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Answer Page</h2>

    <img src=@ViewData["photo"] />
    <p> User name: @ViewData["username"]</p>
    <p> Password : @ViewData["password"]</p>
    <p> Age: @ViewData["age"]</p>
    <p> Comment: @ViewData["comment"]</p>
</body>
</html>